{% extends "base.html" %}

{% block page_content %}

<H1> About </H1>
<ul><p><h2>Webpage</h2></p>
    <ul>
        <p><a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> - Webpage is a Flask app.</p>
        <p><a href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja</a> - Jinja templating was used some to ease the wrangling of HTML.</p>
    </ul>
    <p><h2>Analysis</h2></p>
    <ul>
        <p><a href="https://www.python.org/">Python</a> - All data extraction, transforming, and analyzing was done with Python or a library thereof.</p>
        <p><a href="https://pandas.pydata.org/">Pandas</a> - The majority of data cleaning, restructuring and analysis was done in Pandas. </p>
        <p><a href="https://docs.python.org/3/library/pickle.html">Pickle</a> - Pickle was used to save reduced Pandas dataframes and other objects for later reuse.</p>
    </ul>
    <p><h2>Mapping</h2></p>
    <ul>
        <p><a href="https://python-visualization.github.io/folium/">Folium</a> - The Folium library was used to produce the maps, the loan markers and the HTML used to render the map.</p>
        <p><a href="https://github.com/DenisCarriere/geocoder">Geocoder</a> - The Geocoder library was used to pull latitude and longitude for loan recipients from <a href="https://www.openstreetmap.org">OpenStreetMap</a> API.</p>
        <p><a href="https://leafletjs.com/">Leaflet.js</a> - Folium produces Leaflet.js maps, but some additional work with this was needed to add the search functionality.</p>
    </ul>
    <p><h2>Visualization</h2></p>
    <ul>
        <p><a href="https://plotly.com/">Plotly</a> - The <a href="https://plotly.com/python/">Plotly Python Library</a> was used to produce aggregate data charts from Pandas dataframes.</p>
    </ul>
</ul>

{% endblock %}