{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="text-center">
            <h1>Paycheck Protection Program Loan Distribution</h1>
            
            <h2>Is the federal government helping keep you and your community whole through the pandemic?</h2>
            <p></p>
            <a href="/view_map"><h2>Click here to search for loans in your community.</h2></a>
            <h3>
                In response to increasing unemployment due to shut downs in repoonse to the COVID-19 pandemic, the federal government
                provided a number of responses. One of these was the $669-billion 
                <a href="https://en.wikipedia.org/wiki/Paycheck_Protection_Program">Paycheck Protection Program</a>, intended to provide loans to small businesses
                to facilitate the retention of empoloyees during a time of suppressed economic activity.
            </h3>  
            <h3>
                This is a lot of money to someone working one of the jobs this programs was purported to be intended to save. There are someone
                import questions to ask though:
                <p></p>
                    <ol>
                        <li>Were any jobs saved?</li>
                        <li>How much did it cost to save these jobs?</li>
                        <li>Perhaps most important for an individual, did your community receive any assistance?</li>
                    </ol>
            </h3>

                <p class="text-center">
                    If you want to jump to checking out loans in your community, click <a href="/view_map"><b>here</b></a> 
                    for a searchable map with the highest-value loans mapped and search for any zipcode, city, state or address. 
                </p>
                <p>
                    
                </p>
        </div>
            
            
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h4>
                <p>
                    Addressing question one, according to the data, a total of 13% of loan recipients either reported zero jobs retained (7%) or 
                    jobs retained was
                    not reported (accounting for the additional 6%).
                </p>
                <p>
                Following below we'll address question two, by walking through a series of plots looking at the distribution of loans disbursed as part of 
                the PPP. Summarily though, it cost on average approximately $13,000 per job reported retained across The United States. This is ~86% of the
                yearly income of a full-time worker earning the federal minimum wage. That value range from just over $10,000 in Utah to nearly 
                $17,000 in the state of Washington.
                Each image is also a link an interactive <a href="https://plotly.com">Plotly</a> plot.
                </p>
                
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h3>Looking at where the loans went isn't all that surprising, with California, Texas, New York and Florida receiving the largest total value of loans,
                with California at over $50 billion.
            </h3>
            <a href="/sum_by_state"><img src="static/loan_sum_by_state.png" alt="Total Value of Disbursed Loans by State"></a>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h3>
                Digging deeper, we see a more equitable distribution across the states according to per capita loan-dollar disbursements, where, while New York is still
                near the top, North Dakota received the highest loan-dollar per capita, compared to being ninth in total loan dollars.
            </h3>
            <a href="/sum_per_cap"><img src="static/loan_sum_per_cap.png" alt="Total Value of Disbursed Loans per Capita"></a>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h3>
                How much money each state got 
            </h3>
            <a href="/cost_per_job"><img src="static/cost_per_job_saved.png" alt="Total Cost per Job Saved by State"></a>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <a href="/view_map"><h2>Go ahead and check out the searchable map, to explore loans in your community.</h2></a>
        </div>
    </div>

    <!-- <div class="row">
        <div class="text-center">
            <form action="/map2" method="POST">
                <label>Zip Code 2</label><br>
                <input type="text" name="zipCode">
                <input type="submit" value="Submit">
            </form>
            <form action="/map" method="POST">
                <label>Zip Code 1</label><br>
                <input type="text" name="zipCode">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div> -->

{% endblock %}