{% extends "base.html" %}

{% block page_content %}
    <h1>Paycheck Protection Program Loan Distribution</h1>
    <form action="/map2" method="POST">
        <label>Zip Code 2</label><br>
        <input type="text" name="zipCode">
        <input type="submit" value="Submit">
    </form>
    <form action="/map" method="POST">
        <label>Zip Code 1</label><br>
        <input type="text" name="zipCode">
        <input type="submit" value="Submit">
    </form>

    <div class="text-center">
        <a href="/sum_by_state"><img src="static/loan_sum_by_state.png" alt="Total Value of Disbursed Loans by State"></a>
    </div>

{% endblock %}